
body {
    font-family: Arial, sans-serif;
    background-color: #262627;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.custom-confirm {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 60px; /* Aumentar el padding */
    text-align: center;
    width: 700px; /* Aumentar el ancho */
}

.custom-confirm-content {
    margin-bottom: 20px;
    font-size: 40px; /* Aumentar el tamaño de la fuente */
}

.btn-confirmar, .btn-cancelar {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px 40px; /* Aumentar el padding de los botones */
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 25px; /* Aumentar el tamaño de la fuente */
}

    .btn-confirmar:hover {
        background-color: #8a8686;
    }

.btn-cancelar {
    background-color: #dc3545;
}

    .btn-cancelar:hover {
        background-color: #8a8686;
    }